body {
    font-size: 18px;
    font-family: 'Ubuntu Mono', monospace;
}
::placeholder{
    font-family: 'Ubuntu Mono', monospace;
}
.main-container {
    margin: 0 auto;
    width: 475px;
}

input + span {
    padding-right: 30px;
  }
  
  input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
  }
  
  input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
  }
  select option {
    /* background-color: gray; */
    color: black;
    font-weight: bold;
}

.material-icons {
    /* border:2px solid purple; */
    margin-bottom: 0;
    padding-bottom: 0;
}

.material-icons.md-24 {
    font-size: 24px;
    color: gray;
    /* border:2px solid green; */
    margin-right: 0.2em;
}

.cart-details-container {
    background-color: rgb(233, 231, 231);
    border-radius: 1em;
    padding: 2em 1em 2em 1em;
}

.cart-item-details>img {
    border-radius: 1em;

    margin-bottom: 1.5em;
    object-fit: cover;
    /* border: 2px solid green; */
    width: 40%;
}


.item-info-with-quantity {
    /* border: 2px solid red; */
    height: fit-content;


}

.quantity {
    
    
    border: 1px solid black;
    padding: 1em;
    border-radius: 1em;
}

.decrease-quantity {
    margin-right: 1.5em;
}

.increase-quantity {
    margin-left: 1.5em;
}

.after-discount-price {
    color: #ff7b00;
    font-weight: bold;
    padding-right: 0.5em;
}

.original-price {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: bold;
}

.cart-item-details {
    display: flex;
    /* border: 2px solid blue; */
    justify-content: space-around;
}

.final-details>p {
    border-top: 2px solid gray;
    padding-top: 0.5em;
    font-weight: bold;
}

.shipping-amount,
.total-amount {
    float: right;
    font-weight: bold;
}

.user-input {
    padding: 0.5em;
    border: 2px solid darkgray;
    border-radius: 0.5em;
    display: flex;
    margin-top: 0.25em;
    
}

.user-input>input {
    border: none;
    font-size: 18px;
    width: 100%;
    outline: none;
}

.country-postalcode {
    display: flex;
    justify-content: space-between;
}

.country {
    margin-right: 1.5em;
}

.btn {
    padding: 1em 3em 1em 3em;
    border-radius: 1em;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top:1em;
    outline:none;
}

.btn-continue {
    background-color: #ff7b00;
    color: white;
    border: 2px solid #ff7b00;
    float: right;
}
 .btn:active,
 .btn:focus{
     border:5px solid #8cf515;

 }
.container-footer {
    margin-top:5em;
}

.container-footer>p {
    text-align: center;

}